body {
    background-color:#29524A ; 
}

header {
    background-color:#94A187 ;
}

[role=main]{
    margin:0; 
    position: relative ;    
    text-align: center ; 
    font-size:16px;
    display: block;
    box-sizing: border-box; 
    height: 232px;
    line-height: 24px;
    padding-bottom:0px; 
    padding-left:24px; 
    padding-top: 0px; 
    width:640px;
}